html.dark
{
	background: #333;
}

a.brand-logo
{
	vertical-align: middle;
}

img.emzi-avatar
{
	width: 56px;
	height: 56px;
	border-radius: 28px;
	vertical-align: middle;
	margin-top: -6px;
}

.container > p.justify
{
	text-align: justify;
}

.btni
{
	width: 256px;
	height: 256px;
}

.btds
{
	padding: 0;
	width: 300px;
	height: 160px;
}

.btds > img
{
	width: 300px;
	height: 160px;
}

img[alt='ADA'],
img[alt='PAM'],
img[alt='ASM'],
img[alt='DEVI']
{
	width: 256px;
	height: 256px;
}

html.smalllogo img[alt='ADA'],
html.smalllogo img[alt='PAM'],
html.smalllogo img[alt='ASM'],
html.smalllogo img[alt='DEVI']
{
	width: 64px;
	height: 64px;
}

span.mono
{
	font-family: 'Source Code Pro','Consolas','Courier New',monospace;
	background: #2D2D2D;
	border: 1px solid #2B2B2B;
	border-radius: 3px;
}

.tt
{
	font-size: 9.5pt;
}

.tt span.mono
{
	font-size: 8.5pt;
}

.hypesquad-img
{
	height: 64px;
	display: block;
	float: left;
	margin: 0 6px 0 0;
}

.clear-both
{
	clear: both;
}